{% if site.owner.google.ad-client and site.owner.google.ad-slot %}
<div class="google-ads">
  <!-- 320 x 50 ad -->
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:50px"
       data-ad-client="{{ site.owner.google.ad-client }}"
       data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div><!-- /.google-ads -->
{% endif %}

<div style="display: flex; flex-direction: row; align-items: center;">
<img src="images/uppsala.png" alt="Uppsala University" height="56" width="56" style="margin-right:20px;flex:0;">
<span style="font-family:'PT Serif',serif;flex:1;">&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.</span>
</div>
