/* @group basics */

* {
  margin: 0;
  padding: 0;
}

html, body {
}

body {
  font: 14px/20px Georgia, "Times New Roman", Times, serif;
  color: #844444;
}

body.grid {
  background-image: url(../images/grid.png);
}

h1 {
  font-size: 41px;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
}
/* Modified settings */


figure {
    white-space: normal; 
    display: inline-block; 
    *zoom: 1; 
    *display: inline; 
    margin: 0; 
    padding: 0; 
    letter-spacing: normal;
    word-spacing : normal; 
  border: thin silver solid;
  margin: 1%;
  padding: 1%;
}

div.tool {
width: 150px; 
height: 80px; 
opacity: 1;
border: thin silver solid;
}

div#tool_gpu_server{
display: block; 
background-image: url(http://www.cs.helsinki.fi/u/yuangao/Img/calendar.jpg);
background-size: 140px 80px; 
background-repeat: no-repeat;
background-position:center; 
}

div.project {
width: 320px; 
height: 80px; 
opacity: 1;
border: thin silver solid;
}

div#project_atari{
display: block; 
background-image: url(http://www.cs.helsinki.fi/u/yuangao/Img/atari_agent.png); 
background-repeat: no-repeat;
background-position:center; 
}

div#project_robot{
display: block; 
background-image: url(http://www.cs.helsinki.fi/u/yuangao/Img/robocup.jpg); 
background-repeat: no-repeat;
background-position:center; 
}


div#project_simu{
display: block; 
background-image: url(http://www.cs.helsinki.fi/u/yuangao/Img/simulators.jpg); 
background-repeat: no-repeat;
background-position:center; 
}

div#project_deep_learning{
display: block; 
background-image: url(http://www.cs.helsinki.fi/u/yuangao/Img/research_helicopter.jpg); 
background-repeat: no-repeat;
background-position:center; 
opacity: 1;
}


img.project{
  width: 250px;
  height: 250px;
  overflow:hidden;
  border: thin silver solid;
  margin: 1%;
  padding: 1%;
}

#top_section {
    overflow: hidden;
    padding-bottom: 180px;
}

/* Modified settings */

p {
  margin-bottom: 15px;
}

a:link, a:visited {
  color: 5c3c5c;
  text-decoration: none;
}

a:hover {
 background-color: #802;
 color: #fff;
 text-decoration: none;
}


/* @end */

/* @group header */

#header {
  height: 50px;
  background-image: url(../Styles/header.png);
  line-height: 38px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#header ul {
  width: 950px;
  margin: 0 auto;
  padding: 7px 0 0;
  list-style-type: none;
  overflow: hidden;
}

#header ul li {
  display: inline;
  margin-right: 10px;
  float: left;
}

#header ul li a {
  line-height: 24px;
  font-size: 12px;
  font-style: italic;
  background: url(../Styles/header-right.png) right 0;
  float: left;
  color: #848484;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
}

#header ul li a:hover {
  text-decoration: none;
  opacity: 0.5;
}



#header ul li a span {
  display: block;
  height: 26px;
  float: left;
  background: url(../Styles/header-left.png) no-repeat;
  padding-left: 10px;
  padding-right: 10px;
}



/* @end */

/* @group about */

#about {
  width: 950px;
  padding: 80px 0 59px;
  margin: 0 auto;
  background: url(../Styles/line.png) repeat-x 0 bottom;
  overflow: hidden;
}

#about h1 {
  margin-bottom: 4px;
  margin-top: 2px;
}

#about h2 {
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  margin-bottom: 14px;
}

/* --- */

#story {
  font-size: 18px;
  line-height: 30px;
  width: 390px;
  float: left;
  padding-right: 90px;
}

#picture {
  width: 190px;
  float: left;
}

/* @group contact */

#contact {
  width: 230px;
  float: right;
  padding-right: 50px;
  padding-top: 20px;
  list-style-type: none;
  line-height: 20px;
}

#contact li {
  width: 230px;
  overflow: hidden;
  margin-bottom: 5px;
}

#contact li span {
  float: left;
}

#contact li strong {
  float: right;
  text-align: right;
  color: #3c3c3c;
  font-weight: normal;
  font-style: normal;
}

.bibtexCode {
 font-size: 11px;
 display: none;
 background-color: #e5e5e5;
 padding: 5px;
}
.bibtexLink {
 background-color: #5c3c5c;
 color: #ffffff;
 padding-left: 3px;
 padding-right: 2px;
 border-radius: 4px;
}


/* @end */



/* @end */

/* @group section */

.section {
  width: 950px;
  margin: 12px auto;
  padding: 20px 20px 0px 20px;
  background: url(../images/line.png) repeat-x 0 bottom;
  background-color: #f4f4f4;
  overflow: hidden;
}

.section h2 {
  width: 100px;
  padding-right: 5px;
  float: left;
  padding-top: 0;
  line-height: 22px;
}

.section h3 {
  line-height: 22px;
  margin-bottom: 20px;
  font-style: italic;
}

.section h4 {
  font-weight: normal;
  font-style: normal;
  margin-bottom: 3px;
  margin-top: -20px;
}

.section .date {
  position: absolute;
  top: 6px;
  right: 0;
}

.section .item {
  width: 710px;
  padding-left: 50px;
  float: right; 
  padding-top: 0;
  margin-bottom: 9px;
  position: relative;
  padding-bottom: 5px;
  background: url(../Styles/separator.png) no-repeat 0 bottom;
}

.section .description {
  width: 650px;
  text-align:left;
}



/* @end */

/* @group small */

body.small {
}

body.small #header ul  {
  width: 750px;
}

body.small #about {
  width: 750px;
  position: relative;
  padding-bottom: 65px;
  min-height: 260px;
}

body.small #about #story {
  float: none;
}

body.small #about #contact {
  float: none;
  padding-top: 0;
  padding-right: 0;
  clear: left;
}

body.small #about #picture {
  clear: none;
  float: none;
  position: absolute;
  top: 80px;
  right: 0;
}

/* --- */

body.small .section {
  width: 750px;
}

body.small .section .item {
  width: 510px;
}



/* @end */

/* @group footer */

#footer {
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}



/* @end */


/* bib */

#biblio 
{
	font-size: .8em;
	list-style: none;
	text-indent: 0px;
	padding: 0px;
	margin: 0px;
}

#biblio li
{ 
	padding-bottom: 20px; 
}

span.bibtitle { 
    font-weight: bold;
    color: #642424; }

span.bibpub { font-style: italic; }

h3.bib{ font-size: 13px; font-style: normal;}


a { color: #ffcc00; text-decoration: none; }
a:hover { color: #fff; -webkit-transition:all 0.2s ease-in-out; }

/* The style of animation */

ul { display: block; }
ul li { display: inline-block; margin: 0 10px; }
ul li a { opacity: 0.5; }
ul li a:hover { opacity: 1; -webkit-transition:all 0.2s ease-in-out; }
ul li.bsa a { width: 33px; height: 33px; display: block; background: transparent url('bsa.png') top center no-repeat; text-indent: -9999px; }
ul li.contrastly a { width: 33px; height: 33px; display: block; background: transparent url('contrastly.png') top center no-repeat; text-indent: -9999px; }
ul li.twitter a { width: 33px; height: 33px; display: block; background: transparent url('twitter.png') top center no-repeat; text-indent: -9999px; }
ul li.dribbble a { width: 33px; height: 33px; display: block; background: transparent url('http://jonphillips.ca/images/dribbble_icn.png') top center no-repeat; text-indent: -9999px; }
ul li.email a { width: 33px; height: 33px; display: block; background: transparent url('email.png') top center no-repeat; text-indent: -9999px; }
ul li.blog a { width: 33px; height: 33px; display: block; background: transparent url('blog.png') top center no-repeat; text-indent: -9999px; }
ul li.facebook a { width: 33px; height: 33px; display: block; background: transparent url('facebook.png') top center no-repeat; text-indent: -9999px; }
ul li.linkedin a { width: 33px; height: 33px; display: block; background: transparent url('linkedin.png') top center no-repeat; text-indent: -9999px; }

.logo h1 a { width: 60px; height: 79px; display: block; background: url('http://jonphillips.ca/images/logo.png') top center no-repeat; text-indent: -9999px; padding: 0; margin: 0 auto; border: none; text-align: center; }
.logo h1 a:hover { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -o-transform:rotate(360deg); }
.content { max-width: 480px; padding: 0 20px; display: block; margin: 15% auto 0; }

.vegas-loading { display: none; }
.vegas-overlay { background: transparent url('http://jonphillips.ca/images/overlay.png'); opacity: 0.5; z-index: -1; }
.vegas-background { image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; z-index: -2; }ttp://www.cs.helsinki.fi/u/yuangao/Img/atari_agent.png
